[submodule "git"]
	path = git
	url = git://github.com/ravinggenius/dotfiles-git.git
[submodule "vim"]
	path = vim
	url = git://github.com/ravinggenius/dotfiles-vim.git
[submodule "zsh"]
	path = zsh
	url = git://github.com/ravinggenius/dotfiles-zsh.git
